<h1>Make a New Article</h1>
<form method= "POST" action="/articles">
<input type="text" name="article_title">
<input type="text" name="article_content">
<input type="submit" value="Create an Article">
</form>