<h1>Make a New Article</h1>
<form method= "POST" action="/articles">
<input id="title" type="text" name="title">
<input id="content" type="text" name="content">
<input type="submit" value="Create an Article">
</form>